@import
	url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600)
	;

* {
	box-sizing: border-box;
}

body {
	font-family: "open sans", helvetica, arial, sans;
	background:
		url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

form {
	display: block;
    width: 100%;
    padding: 1em 2em 2em 2em;
}

h1 {
	width: 100%;
	color: lighten(var(grey), 20%);	display: flex;
	background: var(grey);
	width: 100%;
	text-transform: uppercase;
	box-shadow: inset 0px 1px 1px fadeout(white, 95%);
	border: 1px solid darken(var(grey), 5%);
	margin: 0;
	font-weight: bold;
	justify-content: center;
}

input {
	padding: 0.8rem;
    font-size: 1.5rem;
	color: #333;
	text-transform: none;
	border: .1rem solid rgba(0, 0, 0, .1);
	border-radius: .5rem;
	margin: .7rem 0;
	width: 100%;
}

input:focus {
	border-color: #e84393;
}

span {
    color: #e84393;
}

.login-btn, .edit-btn, .add-btn {
	border-radius: 5rem;
	background: #333;
	color: #fff;
    padding: 0.5rem 3rem;
    cursor: pointer;
    font-size: 2.2rem;
	border: none;
	margin: 10px auto 0;
}

.login-btn:hover, .add-btn:hover, .edit-btn:hover {
	background: #e84393;
}
.login-box, .add-box, .edit-box {
	padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}